* {
    margin: 0;
    padding: 0;
    color: rgba(10, 10, 10, 0.9);
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Poppins';
  }

h1 {
    text-align: center;
    letter-spacing: -1px;
    text-shadow: 0 0 6px rgba(10, 10, 225, 0.5);
    font-size: 2em;
}

p {
    text-align: center;
    letter-spacing: -1px;
    font-family: 'Raleway';
    font-size: 1.5em;
    margin-bottom: 15px;
}

body {
    background-color: rgba(225, 225, 225, 0.9);
}
select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px double rgba(225, 225, 225, 0.9); 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  

select:hover {
    background-color: rgba(10, 10, 225, 0.2);
  }

.container {
    border-radius: 5px;
    background-color: rgba(225, 225, 225, 0.9);
    padding: 20px;
  }

.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: rgba(10, 10, 10, 0.5);
    border-radius: 4px;
    box-shadow: rgba(225, 10, 10, 0.1) 7px 14px 28px 7px;
}